{% load staticfiles %}

<html>
    <head>
        <title>What are your 3 wishes?</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans" rel="stylesheet">
    </head>
    <body>
         <div class = "page-header">
             {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
             {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
             {% endif %}

             {% block page-header %}
                  <h1><a href="{% url 'post_list' %}">What are your 3 wishes?</a></h1>
                     <h3>What Would You Wish For if You Had a Genie in a Bottle?</h3>
                        <h5><em>akagaeng's blog implemented by Django framework</em></h5>
              {% endblock page-header %}

         </div>

         <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    <div class="post">
                        {% block post %}
                            {% for post in posts %}
                                <div>
                                    <p>Published: {{ post.published_date }}</p>
                                    <h2><a href="">{{ post.title }}</a></h2>
                                    <p>{{ post.text|linebreaks }}</p>
                                </div>
                            {% endfor %}
                        {% endblock post %}
                        </div>
                    {% endblock content %}
               </div>

            </div>
        </div>

    </body>

</html>