{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <div class="author">
                by {{ post.author }}
                </div>

                at {{ post.published_date }}
                    <a class="btn btn-default" href="{% url 'post_list' %}"><span class="glyphicon glyphicon-list"></span></a>
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>


            </div>

        {% endif %}

        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endblock content%}